<div class="col-12 col-md-12 text-center fixed-top">
  <button class="btn bg-dark rounded-circle" type="button" uk-toggle="target: #offcanvas-usage">
  <img class="img-fluid rounded" width="60" src="https://mesinkasironline.web.app/img/createwebsiteusingangular.png"
    />
</button>

  <div id="offcanvas-usage" uk-offcanvas>
    <div class=" uk-offcanvas-bar">

      <button class="uk-offcanvas-close" type="button" uk-close></button>

      <h3>My Art Gallery</h3>
      <hr class="bg-white" />
      <a routerLink="/">
        <img class="img-fluid rounded" alt="creative photography website digital art"
      src="https://1.bp.blogspot.com/-ZLAvC62pMXE/YLZ0ePyxx2I/AAAAAAAAOVc/RN-CYlBx39c63m8V_oEQKhTjf_IzvMN9QCLcBGAsYHQ/s2048/49716230_10213671167914430_3007686978012446720_n.jpg"/></a>
      <hr class="bg-white" />
      <a style="text-decoration: none" routerLink="/sourcecode" class="btn btn-outline-dark">Source code</a><br/>
      <a style="text-decoration: none" routerLink="/photography" class="btn btn-outline-dark">Photography Art</a><br/>
      <a style="text-decoration: none" routerLink="/digitalart" class="btn btn-outline-dark">Digital Art</a><br/>
      <a style="text-decoration: none" routerLink="/cinematic" class="btn btn-outline-dark">Cinematic Video</a><br/>
      <a style="text-decoration: none" routerLink="/dubstep" class="btn btn-outline-dark">Dubstep Music</a><br/>
      <a style="text-decoration: none" routerLink="/hireme" class="btn btn-outline-dark">Hire Me Now</a><br/>
      <a style="text-decoration: none" routerLink="/buycoffee" class="btn btn-outline-dark">Buy Me a Coffee</a>
      <hr class="bg-white" />

      <small><a href="mailto:creativebydre@gmail.com" class="text-white">creativebydre@gmail.com</a></small>
    </div>
  </div>
</div>


<router-outlet></router-outlet>

<div class="col-12 co-md-12 p-3 p-md-5"></div>