<div class="container">
  <div class="row">
    <div class="col-6 co-md-6 p-3 text-start animate__animated animate__slideInLeft">
      <h3 class="text-white">Creative by dre</h3>
    </div>
    <div class="col-6 co-md-6 p-3 text-end">
      <p class="text-white animate__animated animate__slideInRight"><i>- Just Man in da Art -</i></p>
    </div>
    <div class="col-12 col-md-12 p-3 text-center animate__animated animate__rubberBand">
      <h3><a href="/" class="text-white">Content Managment System</a></h3>
      <p class="text-white animate__animated animate__slideInUp">Free download gratis content management system project.
      </p>
    </div>
    <div class="col-6 col-md-4 p-3 text-center animate__animated animate__zoomIn p-3">
      <a href="https://axcora.com/getaxcoracms/index.php?id=free-template-website-download"
        class="btn text-white shadow rounded" target="_blank" style="text-decoration: none">
        <p class="text-white">Get Axcora CMS</p>
        <img class="img-fluid shadow rounded" alt="new content management system"
      src="https://a.fsdn.com/con/app/proj/modernwebsitecms/screenshots/New%20CMS%20modern%20website%20SEO%20%286%29.png/max/max/1"/>
        <p class="text-white">New CMS generation without database installation needed, blast fast and powerfull on SEO ,
          support with many
          themes for build your modern website</p>

      </a>
    </div>
    <div class="col-6 col-md-4 p-3 text-center animate__animated animate__zoomIn p-3">
      <a href="https://www.hockeycomputindo.com/2021/02/new-laravel-blog-cms-free-download.html"
        class="btn text-white shadow rounded" target="_blank" style="text-decoration: none">
        <p class="text-white">Lavablog CMS</p>
        <img class="img-fluid shadow rounded" alt="new content management system"
      src="https://a.fsdn.com/con/app/proj/lavablog/screenshots/laravel%20blog%20cms%20new%20%281%29.png/max/max/1"/>
        <p class="text-white">New laravel content management system generation , develope using laravel php artisan with
          SEO support, download now and create new modern site using laravel blog cms.</p>

      </a>
    </div>
    <div class="col-6 col-md-4 p-3 text-center animate__animated animate__zoomIn p-3">
      <a href="https://www.hockeycomputindo.com/2021/03/new-symfony-cms-blog-open-source-code.html"
        class="btn text-white shadow rounded" target="_blank" style="text-decoration: none">
        <p class="text-white">Symfony Blog CMS</p>
        <img class="img-fluid shadow rounded" alt="new content management system"
      src="https://a.fsdn.com/con/app/proj/symfonyweb/screenshots/Screenshot_2021-03-09%20Symfony%20Bootstrap%20By%20mesinkasironline%20web%20app%283%29.png/max/max/1"/>
        <p class="text-white">A Blogging platform content management system build and develope using symfony framework
          no need database installation support with SEO , and markdown lang.</p>

      </a>
    </div>
    <div class="col-6 col-md-4 p-3 text-center animate__animated animate__zoomIn p-3">
      <a href="https://www.hockeycomputindo.com/2020/10/angular-cms-blog-new-phoneixs-angular.html"
        class="btn text-white shadow rounded" target="_blank" style="text-decoration: none">
        <p class="text-white">Phoneixs Angular CMS</p>
        <img class="img-fluid shadow rounded" alt="new content management system"
      src="https://a.fsdn.com/con/app/proj/phoneixs/screenshots/Screenshot_2020-09-23%20AngularBlog.png/max/max/1"/>
        <p class="text-white">Single page application support progresive website app develope with angular and
          integrated with firebase database,lets create your new modern web apps.</p>

      </a>
    </div>
    <div class="col-6 col-md-4 p-3 text-center animate__animated animate__zoomIn p-3">
      <a href="https://axcora.com/cmssekolah/" target="_blank" class="btn text-white shadow rounded"
        style="text-decoration: none">
        <p class="text-white">CMS Sekolah</p>
        <img class="img-fluid shadow rounded" alt="new content management system"
      src="https://a.fsdn.com/con/app/proj/axcoraschool/screenshots/aplikasi%20pembuatan%20website%20sekolah%20gratis%20dari%20axcora%20technology%20axcora%20school%20web%20app2.jpg/max/max/1"/>
        <p class="text-white">A Php Content management system , develope with native php and mysql databased you can
          develope website using this content management system.</p>
      </a>
    </div>
    <div class="col-6 col-md-4 p-3 text-center animate__animated animate__zoomIn p-3">
      <a href="https://www.hockeycomputindo.com/2020/09/larablog-laravel-cms-blog-with-seo.html"
        class="btn text-white shadow rounded" target="_blank" style="text-decoration: none">
        <p class="text-white">Larablog V.1</p>
        <img class="img-fluid shadow rounded" alt="new content management system"
      src="https://a.fsdn.com/con/app/proj/larablog/screenshots/Screenshot_2020-09-02%20Laravel%20Blogs.png/max/max/1"/>
        <p class="text-white">Bloging platform content management system using laravel php artisan create new modern
          site with laravel blog cms larablog now.</p>
      </a>
    </div>

    <div class="col-12 p-3 p-md-5 text-center">
      <a routerLink="/sourcecode" class="btn btn-light">Back to sourcecode</a>
    </div>
  </div>
</div>